commands:
  100-update-composer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update -n

container_commands:
    200-install-hirak-prestissimo:
        command: "/usr/bin/composer.phar global require hirak/prestissimo"
    300-run-composer:
        command: "/usr/bin/composer.phar install $PHP_COMPOSER_OPTIONS"
    400-ensure-var-perms:
        command: "chmod -R 777 var"
    410-ensure-var-owner:
        command: "chown -R webapp:webapp var"
    500-assets-install:
        command: "php bin/console assets:install"
    600-database-create:
        command: "php bin/console doctrine:database:create --if-not-exists"
    700-schema-update:
        command: "php bin/console doctrine:schema:update --force --no-interaction"
    800-doctrine-prod-settings:
        command: "php bin/console doctrine:ensure-production-settings"
        ignoreErrors: true
    900-load-fixtures:
        command: "php bin/console doctrine:fixtures:load --append --no-interaction"
        test: '[ "$SYMFONY_LOAD_FIXTURES" == "true" ]'
        leader_only: true
    910-update-cache:
        command: "sudo -E -u webapp php bin/console cache:warmup"
    920-remove-dev-app:
        command: "/bin/bash .ebextensions/misc/symfony-remove-app-dev.sh"
    930-creates-home-for-webapp-user:
        command: "sudo mkdir -p /home/webapp && sudo chown webapp:webapp /home/webapp && sudo chmod 700 /home/webapp"