{% extends 'base.html.twig' %}

{% block title %}demo{% endblock %}

{% block body %}
<div class="">
    <h1>Hello this is demo-app !</h1>

    I'am currently running on {{ hostname }}
</div>
{% endblock %}